# default owners
* @antonkri @pawelrutkaq @arkjedrz @arsibo

# datarouter owners
/score/datarouter/ @rmaddikery @hoppe-and-dreams @mobileinfo @andreapefe @RSingh1511 @Y-Vaishnavi

# mw/log owners
/score/mw/log/ @rmaddikery @hoppe-and-dreams @mobileinfo @andreapefe @RSingh1511 @Y-Vaishnavi
