# default owners
* @antonkri @pawelrutkaq @arkjedrz @arsibo

# datarouter owners
/score/datarouter @rmaddikery @hoppe-and-dreams @mobileinfo @andreapefe @RSingh1511 @Y-Vaishnavi

# mw/log owners
/score/mw/common_features.bzl @rmaddikery @hoppe-and-dreams @mobileinfo @andreapefe @RSingh1511 @Y-Vaishnavi

/score/mw/log @rmaddikery @hoppe-and-dreams @mobileinfo @andreapefe @RSingh1511 @Y-Vaishnavi

# mw/log rust mw_logger owners (more specific rule overrides general rule above)
/score/mw/log/rust/mw_logger @pawelrutkaq @arkjedrz
